.inputBlock {
  position: relative;
  width: 100%;

  .input {
    font-size: 16px;
    padding: 10px;
    border: 1px solid transparent;
    width: 100%;
    background-color: transparent;

    &.inputError {
      color: rgb(255, 71, 102);
      border: 1px solid rgb(255, 71, 102) !important;
      background-color: rgba(255, 71, 102, 0.08) !important;
    }
  }

  &.inputFocused .input {
    padding-top: 30px;
    border: 1px solid #45aef5;
  }

  label {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    transition:
      top 0.3s,
      font-size 0.3s;
    color: #777;

    &.error {
      color: rgb(255, 71, 102);
    }
  }

  &.inputFocused label {
    top: 20%;
    font-size: 12px;
  }
}
