.grabScreen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;

  .title {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 4px;

    h2 {
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 32px;
      margin: 0px 0px 0.25rem;
    }

    p {
      text-align: center;
      color: rgb(137, 148, 163);
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
    }
  }
}
